{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-vue",
    "stylelint-config-tailwindcss"
  ],
  "ignoreFiles": [
    "src/stories/**/*",
    ".storybook/**/*",
    "node_modules/**/*"
  ],
  "customSyntax": "postcss-html",
  "fix": true,
  "plugins": ["stylelint-order"],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen",
          "layer"
        ]
      }
    ],
    "no-descending-specificity": null,
    "declaration-block-trailing-semicolon": "always",
    "string-quotes": "single",
    "indentation": 2
  }
}
